.coyuntura{
	width: 100%;
	&__content{
		width: 100%;
		display: block;
		&-header{
			height: 40vh;
			overflow: hidden;
			background-image: url(./../../media/BG.jpg);
			background-size: cover;
			background-position: center -100px;
			background-repeat: no-repeat;
			@include abcenter(coyuntura__content-header--category);
			&--category{
				width: 100%;
				text-align: center;
				& img{
					width: 30%;
				}
				&-name{
					color: #ffffff;
					font-size: 1.5em;
					font-family: 'HelveticaNeueLight';
				}
			}
		}
		&-lista{
			width: 100%;
			display: block;
			& #coyuntura{
				display: table;
				width: 100%;
				margin: 0;
				padding:0;
				list-style: none;
				& li{
					border-bottom: 1px solid #ccc;
					border-left:3px solid #9d027d;
					&:last-child{
						border-bottom: 0;
					}
					& a{
						display: block;
						padding: .8em .5em;
						text-decoration: none;
						font-size: 1em;
						font-family: 'HelveticaNeueLight';
					}
				}
			}
		}
	}
}